html {
  box-sizing: border-box;
  font-size: 16px; /*1rem = 16px*/
}
@media screen and (max-width: 769px) {
  html {
    font-size: 12px;
  }
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #F1EBE8;
}

p {
  font-family: "DM Sans", sans-serif;
  text-align: justify;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

li {
  list-style: none;
}

.header {
  width: 100%;
  height: 100vh;
  background-image: url("../fondos/background-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.header-info {
  position: absolute;
  top: 15%;
  display: flex;
  left: 5%;
  align-items: center;
}
@media screen and (max-width: 1025px) {
  .header-info {
    width: 80%;
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
  }
}
.header-info p {
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
  color: #fff;
  font-size: 5rem;
  letter-spacing: 4px;
}
@media screen and (max-width: 1025px) {
  .header-info p {
    font-size: 2rem;
    font-weight: 200;
  }
}
.header-info h1 {
  font-family: "thundermedium_hc";
  color: #fff;
  font-size: 8rem;
  letter-spacing: 8px;
  margin-left: 1rem;
}
@media screen and (max-width: 1025px) {
  .header-info h1 {
    font-size: 5rem;
    line-height: 1.5;
    margin-top: 1rem;
  }
}
.header-portfolio {
  position: absolute;
  bottom: 0%;
  left: 5%;
}
@media screen and (max-width: 1025px) {
  .header-portfolio {
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }
}
.header-portfolio p {
  font-family: "thunderregular";
  color: #dec440;
  letter-spacing: 8px;
}
@media screen and (max-width: 375px) {
  .header-portfolio p {
    font-size: 4rem;
  }
}
@media screen and (min-width: 375px) {
  .header-portfolio p {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1025px) {
  .header-portfolio p {
    font-size: 14rem;
  }
}

.portfolio {
  width: 100%;
  height: 100%;
  margin: 6rem 0rem 6rem 0rem;
}
@media screen and (min-width: 1025px) {
  .portfolio {
    margin: 15rem 0rem 15rem 0rem;
  }
}
.portfolio-list-item {
  margin-left: 2%;
  margin-bottom: 2rem;
}
@media screen and (min-width: 1025px) {
  .portfolio-list-item {
    margin-left: 5%;
  }
}
.portfolio-list-item-button {
  position: relative;
  width: auto;
  height: 15rem;
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
@media screen and (min-width: 1025px) {
  .portfolio-list-item-button {
    width: 50%;
  }
}
.portfolio-list-item-button .line {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background-color: black;
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg);
  bottom: 10px;
}
.portfolio-list-item-button .rotate-line {
  transform: rotate(90deg);
}
.portfolio-list-item-button .numero {
  font-family: "neue_regradebold";
  font-size: 6rem;
  margin: 1rem 5rem 0rem 5rem;
}
@media screen and (max-width: 481px) {
  .portfolio-list-item-button .numero {
    font-size: 3rem;
    margin: 1rem 2rem 0rem 2rem;
  }
}
.portfolio-list-item-button .list-item-info-project-title {
  text-align: left;
  font-family: "thunderlight_lc";
  font-size: 4rem;
}
@media screen and (max-width: 375px) {
  .portfolio-list-item-button .list-item-info-project-title {
    font-size: 3rem;
  }
}
.portfolio-list-item-button .list-item-info-project-rol {
  font-weight: 100;
  font-size: 2rem;
  text-align: left;
}
.portfolio-list-item .portfolio-project-container {
  width: 80%;
  max-height: 0;
  overflow: hidden;
  margin: 0 auto;
  transition: max-height 1s ease-in-out;
}
.portfolio-list-item .portfolio-project-container .project-description {
  margin-bottom: 4rem;
}
.portfolio-list-item .portfolio-project-container .project-description h2 {
  font-family: "thunderregular";
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}
.portfolio-list-item .portfolio-project-container .project-description p {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5;
}
.portfolio-list-item .portfolio-project-container .project-pictures {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 4rem;
}
.portfolio-list-item .portfolio-project-container .project-pictures .project-image-series {
  width: 500px;
  height: 600px;
  background-color: bisque;
}
.portfolio-list-item .portfolio-project-container .project-concept h2 {
  font-family: "thunderregular";
  font-size: 3rem;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}
.portfolio-list-item .portfolio-project-container .project-concept p {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5;
}
.portfolio-list-item .portfolio-project-container .project-concept .project-moodboard {
  width: 100%;
  height: 600px;
  margin-top: 2rem;
  background-color: bisque;
}
.portfolio-list-item .expand-project {
  max-height: auto;
}

.contacto {
  width: 100%;
  height: auto;
  background-image: url("../fondos/background-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem 0rem 4rem 0rem;
}
@media screen and (min-width: 1025px) {
  .contacto {
    padding: 8rem 0rem 8rem 0rem;
  }
}
.contacto h3 {
  font-family: "thunderregular";
  font-size: 4rem;
  color: #dec440;
  letter-spacing: 8px;
  text-align: center;
}
@media screen and (min-width: 1025px) {
  .contacto h3 {
    font-size: 8rem;
  }
}
.contacto-info-container {
  height: 6rem;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}
@media screen and (min-width: 1025px) {
  .contacto-info-container {
    gap: 4rem;
  }
}
.contacto-info-container .icon {
  font-size: 3rem;
  color: #fff;
}
@media screen and (min-width: 1025px) {
  .contacto-info-container .icon {
    font-size: 4rem;
    transition: font-size 0.2s ease;
  }
}
@media screen and (min-width: 1025px) {
  .contacto-info-container .contacto-info a:hover .icon {
    font-size: 4.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
