//Colores
$amarillo-5: #dec440;
$blanco-1: #F1EBE8;

//Fuentes
//Neue
$font-neue-bold: 'neue_regradebold';

//Thunder
$font-thunder-regular: 'thunderregular';
$font-thunder-light-lc:  'thunderlight_lc';
$font-thunder-medium-hc: 'thundermedium_hc';

// google fonts
$font-dm-sans: 'DM Sans', sans-serif;

//Backgrounds
$background-footer: '../fondos/background-footer.jpg';
$background-header: '../fondos/background-header.jpg';